.nav-pills a{
	vertical-align: middle;
	padding:0;
}
#nav_bar{
	border-bottom: 2px solid #ccc;
	background-color: #000;
	margin-bottom: 0;
	border-radius: 0px;
}
#tabs{
	margin:auto;
	width: 80%;
}
.nav a {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}
.nav li a{
	padding: 10px 5px;
}
.centered-logo{
	width:100%;
	height:40px;
	background-color: black;
	border: 0px;
	background-image: url('Content/Media/top_border_ccc.png');
	background-size:100% 100%;
}
#logo{
	padding-left: 25px;
	display: block;
	float:left;
	padding-top: 2px;
	padding-bottom: 2px;
}
.nav a:hover{
	color: #000;
}

#nav_bar li {
	display: inline;
	width: 20%;
	border:none;
	margin: 0;
}
.hvr-shutter-out-vertical:before{
	background: orange;
	border-radius: 4px;
}
.hvr-shutter-out-vertical{
	background: #000;
}
.jumbotron {
 	background-image:url('Content/Media/jumbotronBackground.jpg');
	height: 375px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

.jumbotron .container {
	position: relative;
	top:100px;

}

.jumbotron h1 {
	color: #fff;
	font-size: 48px;  
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron a {
	font-size: 20px;
	color: #efefef;
}

.jumbotron p{
	color: #efefef;
}

.about-me .thumbnail{
	height: 100%;
	vertical-align: middle;
}

#aboutMeText{
	text-align: justify;
	padding-bottom: 10px;
}
#aboutMeText p{
	font-family: "sans-serif", Times, sans-serif;
	font-size: 16px;
}


.row-centered{
	text-align: center;
}

.col-centered{
	display: inline-block;
	float: none;
	text-align: left;
	margin-right: -4px;
}

.work-experience {

	background-color: #efefef;
	border-bottom: 2px solid #dbdbdb;
	border-top: 3px solid #dbdbdb;
}
.work-experience h2 {
	color: #393c3d;
	font-size: 24px;
	font-weight: bold;
	padding-top: 20px;
}

.work-experience p {
	font-size: 15px;
	margin-bottom: 15px;
}
.work-experience-text{
	width:80%;
	padding-left: 10%;
}

.thumbnail {
	border:2px solid #fff;
	margin: auto;
}

#work-thumbnails{
	padding-bottom: 10px;
}
.work-experience img{
	opacity: 0;
}
#jobcontainer1{
	background-image: url('Content/Media/LMLogo_short.png');
	background-size: 100% 100%;
	border: 2px solid black;
}

#jobcontainer1:hover{
	transition-property: background-image;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	border: 2px solid #000099;
	background-image: url('Content/Media/LMLogo_short.png');
	background-size: 100% 100%;
}

#jobcontainer2{
	background-image: url('Content/Media/geaviation_square.png');
	background-size: 100% 100%;
	border: 2px solid black;
}

#jobcontainer2:hover{
	transition-property: background-image;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	border: 2px solid #5c85ff;
	background-image: url('Content/Media/geaviationrollover.png');
	background-size: 100% 100%;
}

#jobcontainer3{
	background-image: url('Content/Media/honors.png');
	background-size: 100% 100%;
	border: 2px solid black;
}

#jobcontainer3:hover{
	transition-property: background-image;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;	
	border: 2px solid #ff6600;
	background-image: url('Content/Media/honorsrollover.png');
	background-size: 100% 100%;
}

#project-thumbnails{
	padding-bottom: 10px;
}
.indexprojects h2 {
	color: #393c3d;
	font-size: 24px;
	font-weight: bold;
	padding-top: 20px;
}
.indexprojects img{
	opacity: 0;
}
#project1{
	background-image: url('Content/Media/ritMeetsTheJetsons.png');
	background-size: 100% 100%;
	border: 2px solid orange;
}
#project1:hover{
	transition-property: background-image;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	border: 2px solid black;
	background-image: url('Content/Media/ritMeetsTheJetsons.png');
	background-size: 100% 100%;
}
#project2{
	background-image: url('Content/Media/quadScaled.png');
	background-size: 100% 100%;
	border: 2px solid orange;
}
#project2:hover{
	transition-property: background-image;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	border: 2px solid black;
	background-image: url('Content/Media/quadScaled.png');
	background-size: 100% 100%;
}
#project3{
	background-image: url('Content/Media/windTunnelScaled.png');
	background-size: 100% 100%;
	border: 2px solid orange;
}
#project3:hover{
	transition-property: background-image;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	border: 2px solid black;
	background-image: url('Content/Media/windTunnelScaled.png');
	background-size: 100% 100%;
}
.indexprojects p{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	font-style: times;
}



.connect {
	background-color: #f7f7f7;
	border-top: 2px solid #dbdbdb;
}

.connect h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.connect a {
	color: #00b0ff;
}

.connect .container{
	padding-top: 25px;
	padding-bottom: 10px;
}
.connect h2{
	font-family: 'Shift', sans-serif;
	font-size: 24px;
	font-weight: bold;
}
#facebook{
	opacity: 0.7;
}
#linkedin{
	opacity:0.7;
}
#facebook:hover{
	transition-property: opacity;
	transition duration: 0.25s;
	transition-timing-function: eas-out;
	opacity: 1.0;
}
#linkedin:hover{
	transition-property: opacity;
	transition duration: 0.25s;
	transition-timing-function: eas-out;
	opacity: 1.0;
}
#menu-button:hover{
	background-image: url('Content/Media/menu_hover.png');
}
